/*INICIO CSS DE NAVBAR DEBERIA ESTAR ARRIBA DESPUES LO CAMBIO PARA QUE ESTE EN ORDEN CASCADA*/

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}


.enlace {
    position: absolute;
    padding: 20px 50px;
    text-decoration: none;
}

.logo {
    height: 40px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
}

li a.active,
li a:hover {
    background: rgb(127, 82, 168);
    transition: .5s;
    color: #FFFF;
}

/*Todo de la navbar arriba*/

/*BURGER ABAJO*/
.checkbtn {
    font-size: 30px;
    color: #FFFF;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

/*CHECKBOX*/
#check {
    display: none;
}

/*RESPONSIV DE NAVBAR*/

/*TELEFONO*/
@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2A0087;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0px;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    li a:hover,
    li a.active {
        background: none;
        color: red;
    }

    /*aparece*/
    #check:checked~ul {
        left: 0;
    }
}

/*FIN CSS NAVBAR NOTOCAR TOCA= MUERTE*/


body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    padding-top: 80px; /* Agregado para evitar que el contenido se superponga con la barra de navegación */
}

.about-section {
    background: url(https://upload.wikimedia.org/wikipedia/commons/2/2a/Wallpaper_of_E-ELT_site_testing_%E2%80%94_Cerro_Armazones_Chile.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container {
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text {
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*:::::Pie de Pagina*/
footer.pie-pagina {
    background-color: #2A0087;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

footer .grupo-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer .box {
    width: 300px;
    margin: 20px;
}

footer .box h2 {
    margin-bottom: 10px;
}

footer .red-social a {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

footer .grupo-2 {
    margin-top: 20px;
}

footer .grupo-2 small {
    font-size: 12px;
}
/* CSS anterior... */

/* Añadir padding-bottom al body para dejar espacio para el footer */
body {
    padding-bottom: 100px; /* Ajusta este valor según el alto de tu footer */
}

/* Añadir posición relativa y margin-top al .about-section */
.about-section {
    position: relative;
    margin-top: 80px; /* Ajusta este valor para dejar espacio para la barra de navegación */
}

/* Añadir posición absoluta y bottom: 0 al footer */
footer.pie-pagina {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* CSS anterior... */